#main-pic-top {
  width: 100%;
  height: 20rem;
  display: block;
  margin: auto;
  object-fit: cover;

}
.header-image {
    position: relative; 
    bottom: 74px; 
}
#company-logo {
    position: relative;
    top: 100px; 
    height: 70px;
    left: 35px;
}
body {
  margin: 0;
}
#main-pic-top-header {
    font-family: jubilat, sans-serif; 
    font-weight: 500; 
    color: white; 
}
#main-pic-top-desc {
    font-family: freight-sans-pro, sans-serif; 
    color: white; 
    font-size: 20px; 
}
#main-pic-top-header, #main-pic-top-desc {
  bottom: 13rem;
}
.text-center {
  text-align: center;
  position: relative;
}

#company-description {
  position: relative; 
  bottom: 80px; 
  display: block;
  margin: auto;
  width: 40rem;
}
.table-head {
  position: relative;
  bottom: .75rem;
  font-family: jubilat, sans-serif; 
    font-weight: 500; 
    color: #323E48; 
}

.table-desc {
    font-family: freight-sans-pro, sans-serif; 
    color: grey; 
}
#affirmation-1 {
  position: relative;
  top: 4rem;
  width: 32.5rem;
  margin: auto; 
  font-family: jubilat, sans-serif; 
  font-weight: 450;
  color: #323E48; 
  
}
.work-images {
    position: relative; 
    top: 13em; 
    right: 2.75em; 
    display: flex;
  justify-content: center;
}
.work-images img {
  margin-right: -70px; 
  height: 12rem;
  padding: 1rem;
}
.work-images img:nth-of-type(odd){
  position: relative;
  top: 6rem;
}
#two-week-timeline {
  position: relative;
  top: 25rem;
}
#two-wk-head {
  font-size: 4rem;
  font-family: jubilat, sans-serif; 
  font-weight: 500; 
  color: #323E48; 
}

#days-of-process {
  color: #323E48; 
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
}

#days-of-process td {
    padding-left: 50px; 
    padding-right: 50px; 
}
.process-step-day {
    position: relative; 
    bottom: 23px; 
    font-family: jubilat, sans-serif; 
    font-weight: 400; 
    color: #979696; 
}
.process-step-title {
    font-family: jubilat, sans-serif; 
    font-weight: 500; 
    margin-top: -30px;
    color: #323E48; 
}
.process-step-sub-title {
    position: relative; 
    top: -75px; 
    font-family: freight-sans-pro, sans-serif; 
    font-weight: 500; 
    color: #979696; 
}
.process-step-desc {
    font-family: freight-sans-pro, sans-serif; 
    color: #575756; 
    font-weight: 500; 
    margin-bottom: -20px;
}
.process-day {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  font-family: jubilat; 
  font-weight: 500; 
}
.process-step-card {
  position: relative;
  top: 2rem;
  width: 40rem;
  margin: auto;
  margin-bottom: 5rem;
  border: none; 
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px .5px rgba(0,0,0,0.56);
}
.process-step-card ul {
  position: relative;
  left: 9rem;
}
.process-step-card:nth-last-child(6) {
  margin-bottom: 10rem;
}

.process-step-title, .process-step-sub-title, .process-step-desc {
  position: relative;
  left: 10.5rem;
  padding-right: 10rem;
  bottom: 3.4rem;
}

#cost-estimate-and-survey, #satisfied-customers, #get-started, #freq-asked-questions {
  position: relative;
  top: 15rem;
}

#cost-estimate-and-survey {
  position: relative; 
  top: 30rem; 
  text-align: center;
}

#cost-estimate-and-survey h1 {
    font-family: jubilat, sans-serif; 
    font-weight: 600; 
    color: #323E48; 
}
#cost-estimate-and-survey h2 {
    font-family: freight-sans-pro, sans-serif; 
    font-weight: 500; 
    color: grey; 
}
#cost-estimate-and-survey p {
    font-family: freight-sans-pro, sans-serif; 
    font-weight: 500; 
    font-size: 15px; 
}
#cost-estimate-and-survey button {
    position: relative; 
    top: 1rem; 
}
#total-cost {
    font-weight: bold; 
    color: #323E48; 
}

#satisfied-customers {
    position: relative; 
    top: 35em; 
}
#satisfied-customers h1 {
  position: relative; 
  top: 3em; 
  text-align: center;
  font-family: jubilat; 
  font-weight: 600; 
}
.satisfied-customer {
  margin: auto; 
  margin-bottom: -100px; 
  position: relative; 
  top: 150px; 
  width: 50%;
}

.satisfied-customer img {
  margin-bottom: 15px; 
}

.customer-quote, .customer-desc {
  position: relative;
}
.customer-quote {
  position: relative;
  text-align: left; 
  width: 250px;
  bottom: 10rem; 
  left: 21rem; 
  font-family: jubilat, sans-serif; 
  font-weight: 450; 
}
.customer-desc {
  position: absolute;
    font-family: freight-sans-pro, sans-serif; 
    color: grey; 
    font-size: 12px; 
    bottom: 9rem; 
    left: 350px; 
    text-align: center; 
}

#get-started {
  position: relative; 
  top: 50rem; 
  text-align: center; 
}

#get-started h1 {
  font-family: jubilat, sans-serif; 
  font-weight: 600; 
}

#get-started h2 {
    font-family: freight-sans-pro, sans-serif; 
    font-weight: 400; 
    color: grey; 
}

#get-started button {
    position: relative; 
    top: 1rem; 
}

#freq-asked-questions {
    position: relative; 
    top: 60rem; 
}
#freq-asked-questions h2 {
  text-align: center; 
  font-family: jubilat, sans-serif; 
  font-weight: 500; 
}

#freq-asked-questions table {
  margin: 0 auto;
  width: 50%;
}
#bottom-images {
  position: relative;
    
}
#bottom-images img{
  width: 33.33%;
  margin: 0 auto; 
  padding: 0; 
    float: left; 
    position: relative; 
    top: 50rem; 
}

.satisfied-customer img {
    padding-right: 10px; 
    border-right: 3px solid #D3D655; 
}
button {
    padding: 10px; 
    border: 2px solid rgb(204, 210, 85); 
    color: grey; 
    font-family: freight-sans-pro, sans-serif; 
    font-weight: 500; 
    font-size: 15px; 
    color: rgb(140, 140, 140); 
} 
#freq-asked-questions table{
	   width: 60%;
    position: relative; 
    left: 7%; 
}
#freq-asked-questions th{
       text-align: left; 
       font-family: freight-sans-pro; 
       font-weight: 600;
       color: #979696; 
}

#freq-asked-questions td {
    height: 10px; 
    width: 25%; 
    font-family: freight-sans-pro; 
    color: #323E48; 
}

#freq-asked-questions th:nth-of-type(even), 
#freq-asked-questions td:nth-of-type(even) {
    position: relative; 
    top: 200px; 
    margin: 0 auto; 
    right: 25%; 
}
@media screen and (max-width: 1300px) {
    .customer-desc {
      width: 240px;
    }
    
    #freq-asked-questions th:nth-of-type(even),
    #freq-asked-questions td:nth-of-type(even) {
        position: relative; 
        top: 250px; 
    }
    #bottom-images {
        position: relative; 
        top: 600px; 
    }
}

@media screen and (max-width: 850px) {
    .satisfied-customer {
        right: 100px; 
    }
}